/vsprojects/*.sdf
/vsprojects/ChatServer/Release
/vsprojects/ChatServer/Debug
/vsprojects/ChatServer/logs
/vsprojects/ChatClient/Release
/vsprojects/ChatClient/Debug
/xcodeprojects/Build
*.pdb
*.ilk
*.log
*.log